@import "../../styles/colors";

.main {
  .main__previews {
    padding: 60px 100px;
    text-align-last: left;
    color: $color-gray-1;

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
    }

    .main__cards {
      display: grid;
      align-content: flex-start;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, minmax(14.25em, 1fr));
      gap: 2em;

      flex: 1;
    }
  }
  h2 {
    margin-top: 5em;
    color: $color-gray-1;
  }
}
