@import "../../styles/colors";

.main__previews {
  padding: 60px 100px;
  h1,
  p {
    text-align-last: left;
    color: $color-gray-1;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
}

.main__cards {
  display: grid;
  align-content: flex-start;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(14.25em, 1fr));
  gap: 2em;

  flex: 1;

  //   @include Mobile {
  //     // display: flex;
  //     // flex-wrap: wrap;
  //     // justify-content: space-between;
  //     gap: 1em;
  //     grid-template-columns: repeat(2, 1fr);

  //     &--asd {
  //       justify-content: unset;
  //       grid-template-columns: unset;
  //     }
  //   }
}
